*{
box-sizing: border-box;
}
.parent
{
 height: 200vh;
 border: 20px solid black;
 display: flex;
 /* flex-direction: row; */
 
 align-items: flex-start;
 /* align-items: flex-end;
 align-items: center; */
 /* flex-wrap: wrap; */
 /* align-content: flex-start; */
 flex-flow: row wrap;

 /* justify-content: flex-start;
 justify-content: flex-end;
 justify-content: center;
 justify-content: space-around;
 justify-content: space-between;
 justify-content: space-evenly;
} */
.div1{
    height: 200px;
    width: 200px;
    background-color: bisque;
    order: 2;
    align-self: center;
}
.div2{
    height: 200px;
    width: 200px;
    background-color:gold;
    order: 4;
    align-self: flex-start;
}
.div3{
    height: 200px;
    width: 200px;
    background-color: pink;
    order: 1;
    align-self: center;
}
.div4{
    height: 200px;
    width: 200px;
    background-color: green;
    order: 3;
    align-self: flex-end;
}